@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Obligatorio 2</h1>
    <p>Participantes: Joaquin Caviglia , Emmanuel Duffaut</p>
    <p>Profesor: Mauricio Quintero</p>
    <p>Materia: Programacion 2</p>
</div>
